<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link href="/imagens/avaliacao.png" rel="icon" type="image/x-icon" />

<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" charset="utf-8">
<title>Avaliação</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">

</head>
<body>
	<!-- Barra de Menu -->
	<section th:insert="barra_de_menu :: barra_de_menu"></section>

	<h3 th:if="${isDiretor}" style="text-align: center; padding-top: 10px;">Cadastro de outros Diretores ou Subordinados</h3>
	<h3 th:if="${!isDiretor}" style="text-align: center; padding-top: 10px;">Cadastro de Subordinados</h3>

	<div id="formFomulario">
		<form th:method="post" th:action="@{/salvar}" enctype="multipart/form-data" th:object="${novo}">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="hidden" name="id" th:value="${novo.id}" />
			<input type="hidden" name="superior" th:value="${novo.superior != mull ? novo.superior.id : '-1'}" />
			
			<div th:each="campoavaliacao, item : *{campoAvaliacoes}">
				<input type="hidden" class="form-control" th:field="*{campoAvaliacoes[__${item.index}__].id}" />
				<input type="hidden" class="form-control" th:field="*{campoAvaliacoes[__${item.index}__].nome}" />
				<input type="hidden" class="form-control" th:field="*{campoAvaliacoes[__${item.index}__].valor}" />
			</div>
				
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label for="idNome"><b>Nome*</b></label>
						<input type="text" class="form-control" name="nome" id="idNome" th:value="${novo.nome}" required/>
						<span class="text-danger" th:each="erro : ${#fields.errors('nome')}" th:text="${erro}"></span><br>
					</div>
				</div>
				
				<div class="col-12 col-md-6">
					<div th:if="${hierarquias.size() > 1}" class="form-group">
						<label for="idHierarquia"><b>Hierarquia*</b></label>
							<select name="hierarquia" class="form-control" id="idHierarquia" required>
								<option th:value="-1" th:selected="${novo.hierarquia == null}">Escolha uma hierarquia</option>
								<option th:each="hierarquia : ${hierarquias}" th:value="${hierarquia}" th:text="${hierarquia.imprime()}" th:selected="${hierarquia.equals(novo.hierarquia)}"></option>
							</select> 
						<span class="text-danger" th:each="erro : ${#fields.errors('hierarquia')}" th:text="${erro}"></span><br>
					</div>
					<div th:if="${hierarquias.size() <= 1}" class="form-group">
						<label for="idHierarquia"><b>Hierarquia</b></label>
							<input type="hidden" name="hierarquia" th:value="${hierarquias.get(0)}" />
							<input type="text" class="form-control" th:value="${hierarquias.get(0)}" readonly/>
						<span class="text-danger" th:each="erro : ${#fields.errors('hierarquia')}" th:text="${erro}"></span><br>
					</div>
				</div>
	
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label for="idLogin"><b>Login*</b></label>
						<input type="text" class="form-control" name="login" id="idLogin" th:value="${novo.login}" required/>
						<span class="text-danger" th:each="erro : ${#fields.errors('login')}" th:text="${erro}"></span><br>
					</div>
				</div>
				
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label for="idSenha"><b>Senha*</b></label>
						<input type="password" class="form-control" name="senha" id="idSenha" th:value="${novo.senha}" required/>
						<span class="text-danger" th:each="erro : ${#fields.errors('senha')}" th:text="${erro}"></span><br>
					</div>
				</div>
			</div>
			<div class="row justify-content-end">
				<div class="col-auto">
					<button class="btn btn-primary mt-2" type="submit">Salvar</button>
				</div>
			</div>
			<br>
		</form>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>